.buyads-cart-backdrop
  display: none

.buyads-cart
  display: none
  &.is-open
    display: block
    & + .buyads-cart-backdrop
      display: block

.buyads-tos-help
  &.is-accepted
    visibility: hidden

.buyads-cart-item ~ .buyads-empty-cart
  display: none
