@import compass/css3/user-interface

.buyads-btn
  border: 1px solid #b8c3c9
  font-family: "lucida grande","Open Sans",tahoma,verdana,arial,sans-serif
  line-height: 26px
  display: inline-block
  padding: 4px 16px
  margin-top: 16px
  color: #4b5c66
  cursor: pointer
  outline: none
  position: relative
  border-radius: 4px
  +background-clip(padding-box)
  background-color: #fff
  +background-image(linear-gradient(#fff 60%, #f5f7fa 100%))
  +box-shadow(0px 1px 0 0px rgba(0, 0, 0, 0.07))
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  +user-select(none)
  -webkit-font-smoothing: auto
  font-size: 14px
  &:hover,
  &:focus
    text-decoration: none
    background-color: #fff
    +background-image(linear-gradient(#fff 60%, #ebeff2 100%))
  &:active,
  &.is-active
    background-color: #ebeff2
    +background-image(linear-gradient(#ebeff2 0%, #fff 100%))
  &:disabled
    background-color: #fff
    +background-image(linear-gradient(#fff 60%, #f5f7fa 100%))
    border: 1px solid #b8c3c9
    color: #89949b
    cursor: default
    opacity: 0.5
    text-shadow: none
    +box-shadow(none)
  &.buyads-cart-submit
    width: 220px
    display: block
    margin: 16px auto 0
  &.btn-small
    margin: 0
    padding: 2px 8px
    font-size: 12px

@mixin closeBtn ($font-size, $hoverColor)
  float: right
  padding: 0
  background-color: transparent
  border: 0
  color: $lightestGray
  font-weight: bolder
  font-size: $font-size
  cursor: pointer
  &:hover,
  &:active
    color: $hoverColor

.buyads-cart-close
  +closeBtn(22px, $lighterGray)
.buyads-item-remove
  +closeBtn(16px, $errorText)

.buyads-config-creative
  display: block
  width: 85px
  height: 85px
  background-color: $lightestGray
  color: $darkGray
  border: 1px dashed $lightGray
  &.is-active
    border-style: solid
    background-color: $lightBlue


