@import compass
@import compass/css3/background-clip
@import compass/css3/box-shadow
@import compass/css3/opacity
@import compass/css3/transform
@import compass/css3/transition

@import cart_states
@import cart_buttons
@import cart_inputs
@import cart_items

.buyads-cart-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9999
  background: #000
  background: rgba(0, 0, 0, 0.8)
  +background(radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.8) 100%))
  +single-transition(400ms, opacity, ease)
  +translate3d(0, 0, 0)

.buyads-cart
  position: fixed
  top: 10%
  left: 50%
  z-index: 10000
  $breakpoint: 768px
  $padding: 30px
  $width: $breakpoint - ($breakpoint * .1) - $padding
  width: $width
  padding: $padding
  padding-top: 0
  margin-left: $width / -2
  background-color: #fff
  border: 1px solid #999
  border: 1px solid rgba(0, 0, 0, 0.3)
  border-radius: 6px
  +box-shadow(0 3px 7px rgba(0, 0, 0, 0.3))
  +background-clip(padding-box)
  outline: none
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 20px
  color: #333333
  fieldset
    border: 0
    margin: 0
    padding: 0

.buyads-cols
  float: left
  width: 48%
  &.buyads-cart-info
    margin-left: 4%

.outline
  outline: 1px solid red
