.buyads-cart-submit
  border: 1px solid #b8c3c9
  font-family: "lucida grande","Open Sans",tahoma,verdana,arial,sans-serif
  line-height: 26px
  display: inline-block
  padding: 4px 16px
  color: #4b5c66
  cursor: pointer
  outline: none
  position: relative
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -moz-background-clip: padding
  -webkit-background-clip: padding-box
  background-clip: padding-box
  background-color: #ffffff
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, white), color-stop(100%, #f5f7fa))
  background-image: -webkit-linear-gradient(white 60%, #f5f7fa 100%)
  background-image: -moz-linear-gradient(center top, white 60%, #f5f7fa 100%)
  background-image: -moz-gradient(center top, white 60%, #f5f7fa 100%)
  box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07)
  -webkit-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07)
  -moz-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07)
  -o-box-shadow: 0px 1px 0 0px rgba(0, 0, 0, 0.07)
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none
  -webkit-font-smoothing: auto
  font-size: 14px
  &:hover, &:focus
    text-decoration: none
    background-color: #ffffff
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, white), color-stop(100%, #ebeff2))
    background-image: -webkit-linear-gradient(white 60%, #ebeff2 100%)
    background-image: -moz-linear-gradient(center top, white 60%, #ebeff2 100%)
    background-image: -moz-gradient(center top, white 60%, #ebeff2 100%)
  &:active
    background-color: #ebeff2
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebeff2), color-stop(100%, white))
    background-image: -webkit-linear-gradient(#ebeff2 0%, white 100%)
    background-image: -moz-linear-gradient(center top, #ebeff2 0%, white 100%)
    background-image: -moz-gradient(center top, #ebeff2 0%, white 100%)
  &:disabled
    background-color: #ffffff
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, white), color-stop(100%, #f5f7fa))
    background-image: -webkit-linear-gradient(white 60%, #f5f7fa 100%)
    background-image: -moz-linear-gradient(center top, white 60%, #f5f7fa 100%)
    background-image: -moz-gradient(center top, white 60%, #f5f7fa 100%)
    border: 1px solid #b8c3c9
    color: #89949b
    cursor: default
    opacity: 0.5
    text-shadow: none
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    -o-box-shadow: none
