@mixin bootstrapInput($height)
  display: inline-block
  padding: 4px 6px
  margin: 0
  background-color: #fff
  border: 1px solid #ccc
  border-radius: 4px
  +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))
  +transition(border linear 0.2s, box-shadow linear 0.2s)
  height: $height
  min-height: 1px
  line-height: 20px
  color: #555
  font-size: 14px

.buyads-cart
  label
    display: block
    margin-top: 10px
    margin-bottom: 5px
  input
    &[type="text"],
    &[type="email"],
    &[type="url"]
      +bootstrapInput(20px)
    &[type="checkbox"]
      margin: 0
    &[readonly]
      cursor: pointer
  textarea
    +bootstrapInput(60px)
  input,
  textarea
    &:focus
      border-color: rgba(82, 168, 236, 0.8)
      outline: 0
      +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6))
      &:invalid
        color: $errorText
        border-color: #ee5f5b
        &:focus
          border-color: darken(#ee5f5b, 10%)
          +box-shadow(0 0 6px lighten(#ee5f5b, 20%))
  .buyads-datepicker,
  select
    width: 100px
  .buyads-input-large
    width: 240px
  .buyads-input-medium
    width: 111px
  .buyads-input-small
    width: 35px
  .buyads-input-checkbox
    cursor: pointer

// input append

.buyads-input-append
  display: inline-block
  margin-bottom: 10px
  vertical-align: middle
  font-size: 0
  /* white space collapse hack*/
  white-space: nowrap

.buyads-cart .buyads-input-append input
  position: relative
  vertical-align: top
  border-radius: 4px 0 0 4px

// Make input on top when focused so blue border and shadow always show

.buyads-input-append input:focus
  z-index: 2

.buyads-input-add-on
  display: inline-block
  width: auto
  height: 20px
  min-width: 16px
  padding: 4px 5px
  font-size: 14px
  font-weight: normal
  line-height: 20px
  text-align: center
  text-shadow: 0 1px 0 white
  background-color: #eee
  border: 1px solid #ccc
  vertical-align: top
  border-radius: 0 4px 4px 0
  margin-left: -1px
