<div class="buyads-cart">
  <button type="button" class="buyads-cart-close">&times;</button>
  <h2>
    Your Campaign
    <!-- cart icon w/ count? -->
  </h2>

  <div class="buyads-cart-items">
    <!-- cart_item.html -->


    <!-- <p class="buyads-empty-cart">You haven't added any placements yet</p>

    <button class="buyads-btn" data-full-state-text="Add More">View Inventory</button> -->
  </div>

  <div class="buyads-cart-info">
    <h3>Your Information</h3>

    <label>Your name</label>
    <input name="buyadsFirst" type="text" required placeholder="First" class="buyads-input-medium">
    <input name="buyadsLast" type="text" required placeholder="Last" class="buyads-input-medium">

    <label for="buyadsEmail">Your email address</label>
    <input name="buyadsEmail" type="email" required class="buyads-input-large">

    <label for="buyadsCompany">Your company name</label>
    <input name="buyadsCompany" type="text" required class="buyads-input-large">

    <label class="buyads-input-checkbox">
      <input name="buyadsTosAcceptance" type="checkbox">
      I accept the <a href="https://www.buyads.com/terms" target="_blank">BuyAds Terms of Service</a>
    </label>

    <p class="buyads-tos-help">You must accept before continuing</p>

    <button type="button" class="buyads-cart-submit buyads-btn" disabled>Submit Order for Approval</button>
  </div>
</div>

<div class="buyads-cart-backdrop"></div>
