<div class="buyads-cart-item">
  <h4 class="buyads-placement-summary">
    <!-- TODO: expand/collapse icon to accordian detail -->
    <%= p.width %> &times; <%= p.height%>
    <small><%= p.location%></small>
  </h4>

  <div class="buyads-cart-item-detail">
    <!-- TODO: creative -->
    <div class="box">Configure Creative</div>

    <fieldset class="picker-holder--classic">
      <!-- start -->
      <div class="buyads-cols">
        <label for="buyads-cart-item[<%= p.index %>]-start">Start Date</label>
        <!-- asap? -->
        <input name="buyads-cart-item[<%= p.index %>]-start" class="buyads-datepicker" type="text">
      </div>

      <!-- end -->
      <div class="buyads-cols">
        <label for="buyads-cart-item[<%= p.index %>]-end">End Date</label>
        <!-- duration? -->
        <input name="buyads-cart-item[<%= p.index %>]-end" class="buyads-datepicker" type="text">
      </div>
    </fieldset>

    <!-- impressions / duration -->
    <% if (p.package.type === 'cpm') { %>
      <label for="buyads-cart-item[<%= p.index %>]-Kimps">Impressions</label>
      <div class="buyads-input-append">
        <input type="text" name="buyads-cart-item[<%= p.index %>]-Kimps" class="buyads-input-small">
        <span class="buyads-input-add-on">K</span>
      </div>

      <span class="buyads-item-cpm-equation">

    <% } else { %>
      <label for="buyads-cart-item[<%= p.index %>]-duration">Duration</label>
      <select name="buyads-cart-item[<%= p.index %>]-duration">
        <option value="7">1 week</option>
        <option value="14">2 weeks</option>
        <option value="21">3 weeks</option>
        <option value="30" selected="selected">1 month</option>
        <option value="60">2 months</option>
        <option value="90">1 quarter</option>
        <option value="180">2 quarters</option>
        <option value="270">3 quarters</option>
        <option value="365">4 quarters</option>
      </select>

      <span class="buyads-item-equation">
    <% } %>
        &times;

        <span><%= p.package.humanPrice %></span>

        =

        <span class="buyads-cart-item[<%= p.index %>]-subtotal"></span>
      </span>
  </div>
</div>
