<div class="buyads-cart">
  <button type="button" class="buyads-cart-close">&times;</button>
  <h2>Your Campaign</h2>

  <div class="buyads-error alert alert-error">
    <h3>These errors prevented your order from being placed!</h3>
    <ul></ul>
  </div>

  <div class="buyads-cart-items">

    <div class="buyads-confirmation alert">
      <h3>Your order has been placed!</h3>
      <p class="buyads-new">
        We sent you an email with your new login information for <a href="http://www.buyads.com" target="_blank">BuyAds.com</a>, where you can check the status of your order.
      </p>
      <p class="buyads-existing">
        <a href="https://www.buyads.com/login" target="_blank">Log in to your BuyAds.com account</a> to check the status of your order.
      </p>
    </div>

    <p class="buyads-empty-cart">You haven't added any placements yet</p>

    <button class="buyads-btn" data-full-state-text="Add More">View Inventory</button>
  </div>

  <div class="buyads-cart-info">
    <h3>Your Information</h3>

    <label>Your name</label>
    <input name="buyads-first_name" type="text" required placeholder="First" class="buyads-input-medium">
    <input name="buyads-last_name" type="text" required placeholder="Last" class="buyads-input-medium">

    <label for="buyads-email">Your email address</label>
    <input name="buyads-email" type="email" required class="buyads-input-large">

    <label for="buyads-company_name">Your company name</label>
    <input name="buyads-company_name" type="text" required class="buyads-input-large">

    <label class="buyads-input-checkbox">
      <input name="buyadsTosAcceptance" type="checkbox">
      I accept the <a href="https://www.buyads.com/terms" target="_blank">BuyAds Terms of Service</a>
    </label>

    <p class="buyads-tos-help">You must accept before continuing</p>

    <button type="button" class="buyads-cart-submit buyads-btn" disabled>Submit Order for Approval</button>
  </div>
</div>

<div class="buyads-cart-backdrop"></div>
