<div class="buyads-cart">
  <h2>
    Campaign
    <!-- cart icon w/ count? -->
  </h2>
  <div class="buyads-cols">
      <h3>Placements</h3>

      <div class="buyads-cart-items">
        <!-- cart_item.html -->
      </div>
  </div>

  <div class="buyads-cols buyads-cart-info">
    <h3>Buyer</h3>

    <label>Your name</label>
    <input name="buyadsFirst" type="text" required placeholder="First" class="buyads-input-medium">
    <input name="buyadsLast" type="text" required placeholder="Last" class="buyads-input-medium">

    <label for="buyadsEmail">Your email address</label>
    <input name="buyadsEmail" type="email" required class="buyads-input-large">

    <label for="buyadsCompany">Your company name</label>
    <input name="buyadsCompany" type="text" required class="buyads-input-large">


    <label>
      <input name="buyadsTosAcceptance" type="checkbox">
      I accept the <a href="https://www.buyads.com/terms" target="_blank">BuyAds Terms of Service</a>
    </label>

    <p class="buyads-tos-help">You must accept terms before continuing</p>

    <button type="button" class="buyads-cart-submit" disabled>Submit Order for Approval</button>
  </div>

</div>
<div class="buyads-cart-backdrop"></div>
