<div class="buyads-cart-item">
  <button type="button" class="buyads-item-remove">&times;</button>
  <div class="buyads-span">
  <button type="button" class="buyads-config-creative">Configure Creative</button>
  <div class="pickadate__holder">
    <div class="pickadate__frame">
      <div class="pickadate__wrap">
        <div class="pickadate__calendar">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#paste">Paste</a>
              </li>
              <li class="">
                <a data-toggle="tab" href="#upload">Upload</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="paste">

                <textarea name="buyads-cart-item[<%= p.index %>]-creative" placeholder="Paste your creative tag here"></textarea>
                <label class="control-label">
                  <strong>Have macros?</strong>
                  Use
                  <em>CLICK_URL</em>
                  to add a click tracking url and
                  <em>RANDOM</em>
                  to add a cachebuster
                </label>
              </div>

              <div class="tab-pane" id="upload">
                <div class="alert hidden">
                  Please upload an image and set a click through URL before saving.
                </div>
                <!-- <div class="alert alert-error hidden">
                  That creative does not match the size of
                  <!-- size appended by JS --
                </div> -->

                <div class="control-group preview" style="display: none;">
                  <div class="controls">
                    <img>
                  </div>
                </div>

                <input type="filepicker-dragdrop" name="buyadsFilepicker">

                <label for="buyadsClickThrough">Click-Through URL</label>
                <input name="buyadsClickThrough" type="url" required pattern="https?://.+">
                <span class="help-text">
                  URLs must begin with
                  <em>http://</em>
                  or
                  <em>https://</em>
                </span>
              </div>
            </div>
          </div>

          <div class="pickadate__footer">
            <button class="pickadate__button--clear" data-clear="1" tabindex="0">Close</button>
            <button class="pickadate__button--today" data-date="2013/04/16" tabindex="0">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buyads-span">
  <h4>
    <span class="buyads-placement-dimension">
      <%= p.width %>
    </span>

    &times;

    <span class="buyads-placement-dimension">
      <%= p.height%>
    </span>

    <small><%= p.location%></small>
  </h4>

  <div class="buyads-cart-item-detail">
    <!-- Package ID -->
    <input name="buyads-orders[<%= p.index %>][package_id]" value="<%= p.package.id %>"type="hidden">

    <!-- TODO: creative -->
    <div class="box">Configure Creative</div>

    <fieldset class="picker-holder--classic">
      <!-- start -->
      <div class="buyads-cols">
        <label for="buyads-orders[<%= p.index %>][start_time]">Start Date</label>
        <!-- asap? -->
        <input name="buyads-orders[<%= p.index %>][start_time]" class="buyads-datepicker" type="text">
      </div>

      <!-- end -->
      <div class="buyads-cols">
        <label for="buyads-orders[<%= p.index %>][end_time]-">End Date</label>
        <!-- duration? -->
        <input name="buyads-orders[<%= p.index %>][end_time]" class="buyads-datepicker" type="text">
      </div>
    </fieldset>

    <!-- impressions / duration -->
    <% if (p.package.type === 'cpm') { %>
      <label for="buyads-orders[<%= p.index %>][impressions]">Impressions</label>
      <div class="buyads-input-append">
        <input type="text" name="buyads-orders[<%= p.index %>][impressions]" class="buyads-input-small">
        <span class="buyads-input-add-on">K</span>
      </div>

      <span class="buyads-item-cpm-equation">

    <% } else { %>
      <label for="buyads-orders[<%= p.index %>][duration]">Duration</label>
      <select name="buyads-orders[<%= p.index %>][duration]">
        <option value="7">1 week</option>
        <option value="14">2 weeks</option>
        <option value="21">3 weeks</option>
        <option value="30" selected="selected">1 month</option>
        <option value="60">2 months</option>
        <option value="90">1 quarter</option>
        <option value="180">2 quarters</option>
        <option value="270">3 quarters</option>
        <option value="365">4 quarters</option>
      </select>

      <span class="buyads-item-equation">
    <% } %>
        &times;

        <span><%= p.package.humanPrice %></span>

        =

        <span class="buyads-orders[<%= p.index %>]-subtotal"></span>
      </span>
    </div>
  </fieldset>
</div>
</div>
