<!-- TODO: dynamic grid for even rows -->
<!-- TODO: row view (spreadsheet) -->

<% zones.forEach(function(z, i) {%>
  <div class="buyads-placement">
    <h4 class="buyads-placement-summary">
      <%= z.width %> &times; <%= z.height %>
      <small><%= z.location %></small>
    </h4>

    <% z.Packages.forEach(function(p){ %>
      <p>
        <%= p.humanPrice %>
      </p>
    <%})%>

    <button type="button" class="buyads-add-inv btn" data-inventory="<%= i %>" data-disabled-text="Added to cart">
      Add to cart
    </button>
</div>
<%}) %>

<button type="button" class="buyads-cart-btn btn">Your Cart</button>
